# 🌐 URLs
BACKEND_URL=
FRONTEND_URL=
CORS_ORIGINS=

# ⚙️ SERVER
PORT=
NODE_ENV=
MAX_FILE_SIZE=
UPLOAD_DIR=

# 🧾 SUPORTE
ERRO_SUPPORT=

# 🗄️ SUPABASE
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=

# 💳 STRIPE
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_BRL=
STRIPE_PRICE_USD=

# 💰 MERCADO PAGO
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
